{% extends 'base.twig' %}

{% block content %}
    {% do action('woocommerce_before_main_content') %}
    {% do action('woocommerce_before_single_product') %}

    <div class="productInfo">
        <div itemscope itemtype="http://schema.org/Product" class="productPanel">
            {{ function('woocommerce_template_single_title') }}
            {% include 'partial/productGallery.twig' %}
        </div>
        <div class="productPrice">
            {{ function('woocommerce_template_single_price') }}
            {{ function('woocommerce_template_single_add_to_cart') }}
        </div>
        <div class="deliveryInfo">
            <h3>Delivery Options</h3>
            <table>
                <tr>
                    <td><i class="fas fa-truck"></i></td>
                    <td>By courier to your specified address.<br><span class="deliveryTextSml">Receive SMS with one-hour delivery window.<br> Weekend, timed and European delivery options are available at checkout.</span></td>
                </tr>
                <tr>
                    <td><i class="fas fa-store"></i></td>
                    <td>Courier Dropoff<br><span class="deliveryTextSml">Pickup from local convenience store.</span></td>
                </tr>
                <tr>
                    <td><i class="fas fa-warehouse"></i></td>
                    <td>Collect Instore<br><span class="deliveryTextSml">Collect from our store.</span></td>
                </tr>
            </table>
        </div>
        <div class="productDescription">
            <div class="descriptionHeader">
                <div><h2>Product Description</h2></div>
                <div><a><i class="fas fa-angle-down"></i></a></div>
            </div>
            <p class="descriptionText">{{ post.post_content }}</p>
        </div>
    </div>

    {% do action('woocommerce_after_single_product') %}
{% endblock  %}