<div class="footerBannerWrapper">
    <div class="footerBannerTop"><i class="fas fa-truck"></i> Free shipping on orders over &pound;50</div>
    <div class="footerBannerTop"><i class="fas fa-truck"></i> Delivery 7 days a week</div>
    <div class="footerBannerBottom">Call us on<br><span>01632 960537</span></div>
    <div class="footerBannerBottom">Follow us<br><i class="fab fa-facebook-f"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter"></i><i class="fab fa-youtube"></i></div>
</div>