{% extends "tease.twig" %}

{% block content %}
	<h2><a href="{{post.link}}">{{post.title}}</a></h2>
	{% if post.thumbnail.src %}
		<img src="{{post.thumbnail.src|resize(1200,250)}}" />
	{% endif %}
		<p>{{post.preview.length(250)}}</p>
{% endblock %}