<div class="basketMenu" id="basketMenu">
    <a href="/basket">
        <div>
            <i class="fas fa-shopping-cart"></i>
            {% if basket.itemCount > 0 %}
                <span class="basketCount">{{ basket.itemCount }}</span>
            {% endif %}
        </div>
        <div>
            {{ basket.total }}
        </div>
    </a>
    <a href="/basket">Checkout</a>
</div>