<div class="carousel">
    <a class="carouselPrev"><i class="fas fa-angle-left"></i></a>
    <a class="carouselForward"><i class="fas fa-angle-right"></i></a>
    <img src="https://www.nvidia.com/content/dam/en-zz/Solutions/communities/nvidia-communities-partner-network-737-m@2x.jpg"></div>
</div>