<div class="carousel">
    <a class="carouselPrev"><i class="fas fa-angle-left"></i></a>
    <a class="carouselForward"><i class="fas fa-angle-right"></i></a>
    <div class="carouselIndicator">
        {% for slide in carouselSlides %}
            <span></span>
        {% endfor %}
    </div>
    <div class="carouselSlides">
    {% for slide in carouselSlides %}
        <div class="carouselSlide">
            <a class="carouselReadMore" href="{{slide.link}}">Find Out More</a>
            <p class="carouselTitle">{{slide.title}}</p>
            <img src="{{ slide.thumbnail.src|resize(1275, 450) }}" alt="">
        </div>
    {% endfor %}
    </div>
</div>