<div class="productGallery">
    <div class="productImage">
        <a class="prev"><i class="fas fa-angle-left"></i></a>
        <a class="forward"><i class="fas fa-angle-right"></i></a>
        <img src="{{ Image(post._thumbnail_id).src }}" alt="">
    </div>
    <div class="imageSelector">
    {% set galleryImages = post._product_image_gallery|split(',') %}
    {% for galleryImage in galleryImages %}
        <div><img src="{{ Image(galleryImage).src }}" alt=""></div>
    {% endfor %}
    </div>
</div>